.game-interface {
  --gap: 20px;
  display: grid;
  grid-gap: var(--gap) 0;
  max-width: 1000px;
  margin: auto;
}

.giRow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.giList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
