@import "../../styles/plugins";

.button {
  height: $btn_h;
  background-color: var(--c_base);
  border: 0;
  color: var(--c_black);
  cursor: pointer;
  font-family: $ff;
  font-size: 0.95rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 0.9rem;
  padding: 0 ($gap * 0.85);
  text-transform: lowercase;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &--secondary {
    background-color: transparent;
  }
}
