* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

@-ms-viewport {
  width: auto;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;
  font-size: var(--font-size-base);
}

body {
  min-width: 100%;
  background-color: var(--c_bg);
  box-sizing: border-box;
  font-family: $ff;
  margin: ($gap * 1.25) 0 0;
  padding: 0 $gap;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

button {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: inherit;
}

img,
embed,
video {
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 1;
  border: none;
}

svg {
  display: inline-block;
  line-height: 1;

  &:not([fill="none"]) {
    fill: currentColor;
  }
}

picture {
  flex-grow: 1;
  border-radius: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type="text"] {
  width: ($btn_h + 2px);
  height: $btn_h;
  background-color: transparent;
  border: 1px solid var(--c_base);
  box-sizing: border-box;
  caret-color: var(--c_06);
  color: var(--c_06);
  outline: 0;
  padding: 0 9px 0 11px;

  &:focus {
    background-color: rgba(#6a6a6a, 25%);
  }
}
