:root {
  --c_white: white;
  --c_black: #292929;
  --c_01: #7c4de1;
  --c_02: hotpink;
  --c_03: #00d4ea;
  --c_04: #45ee00;
  --c_05: #ffd400;
  --c_06: var(--c_white);
  --c_07: var(--c_black);
  --c_08: #6a6a6a;

  [data-mode="dark"] {
    --c_06: var(--c_black);
    --c_07: var(--c_white);
  }

  [data-mode="light"] {
    --c_06: var(--c_white);
    --c_07: var(--c_black);
  }

  --c_border: var(--c_08);
  --c_base: var(--c_01);
  --c_emoji: '😎';
}


